.Toast {
  height: 95px;
  width: 235px;
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgb(83, 0, 83);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3em;
  font-weight: 800;
  flex-direction: column;
  z-index: 20;
  button {
    height: 30px;
    width: 40%;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
  }
}

@keyframes close-anim {
  0% {
    opacity: 1;
    right: 20px;
  }
  100% {
    right: -235px;
    opacity: 0;
  }
}
@keyframes open-anim {
  0% {
    right: -235px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    right: 20px;
  }
}

.Toast.close {
  animation: close-anim 0.6s;
  right: -235px;
  opacity: 0;
}

.Toast.open {
  animation: open-anim 0.6s;
  right: 20px;
  opacity: 1;
}
