.Home {
  h1 {
    font-size: 3em;
  }
  p {
    font-size: 1.5em;
  }
  button {
    margin-top: 15px;
    span {
      height: 100%;
      padding-right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .herro-button {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    button {
      transition: all 0.5s ease-in-out;

      .progress-bar {
        height: 55%;
        border-radius: 5px;
        width: 10%;
        background: white;
      }
    }
  }
  .event {
    display: flex;
    align-items: center;
    width: 100%;

    .all-news {
      height: 300px;
      width: 100%;
      display: flex;

      gap: 20px;
      align-items: center;
    }
    .more-button {
      font-size: 2.5em;

      height: 80px;
      width: 80px;
      margin: 10px;
      background: rgb(34, 34, 34);
      transition: all 0.3s ease-in-out;
      &:hover {
        filter: brightness(1.2);
      }
    }
  }
}
